#keyboard {
    display: grid;
    grid-template-columns: auto, auto;
    grid-template-rows: 20px 20px 20px;
    gap: 5px;
    align-items: center;
    justify-items: center;
}

.keyrow, .key-control {
    /* pointer-events: none; */
    align-content: center;
    justify-content: center;
    margin: 0;
}

.keyrow > button {
    min-width: 25px;
    margin: 0;
}

.key-control > button {
    min-width: 50px;
    margin:0;
}

#keyboard > button {
    border: 1px solid;
    font-size: 1rem;
}

#keyrow1 {
    grid-column: 1/1;
    grid-row: 1/1;
}

#keyrow2 {
    grid-column: 1/1;
    grid-row: 2/2;
}

#keyrow3 {
    grid-column: 1/1;
    grid-row: 3/3;
}

#keyDEL {
    grid-column: 2/2;
    grid-row: 1/1;
}

#keyENTER {
    grid-column: 2/2;
    grid-row: 2/2;
}

#keyNEXT {
    grid-column: 2/2;
    grid-row: 3/3;
}