.keyboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.keyrow {
    margin-left: auto;
    margin-right: auto;
}

.letter {
    --width: minmax(50px, 9vw);
    --round: calc(var(--width) * 0.1);
    display: inline;
    min-width: var(--width);
    min-height: var(--width);
    border-radius: var(--round);
    border: 1px solid;
}