#wordle-grid {
    --columns: 5;
    --rows: 6;
    --gap: 5px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--columns), 50px);
    grid-template-rows: repeat(var(--rows), 50px);
    justify-content: stretch;
    align-content: stretch;
}