#game-header {
    display: none;
}
#game-header > * {
    margin: 0;
}

#game-area {
    display: flex;
}

@media screen and (max-width: 700px) {
    #game-area {
        display: block;
    }
    #game-header  {
        display: block;
    }
}