.wordle {
    --width: minmax(60px, 15vw);
    --round: calc(var(--round) * 0.1);
    display: block;
    width: var(--width);
    height: var(--width);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    justify-items: center;
    background-color: rgba(0, 0, 255, .4);
    border: 1px solid;
    border-radius: var(--round);
}
.wordle > p {
    margin: auto;
    padding: 0;
}

.active {
    background-color: rgba(0, 255, 255, .4);
}

.wrong-pos {
    background-color: rgba(255, 255, 0, .4);
}

.right-pos {
    background-color: rgba(0, 255, 0, .4);
}