.wordle {
    --width: minmax(60px, 15vw);
    display: flex;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    /* background-color: rgba(0, 0, 255, .4); */
    background-color: hsl(240deg, 100%, 30%);
    border: 1px solid;
}
.wordle > p {
    text-align:center;
    padding: 0;
}

.active {
    background-color: hsl(240deg, 80%, 50%);
}

.can-guess {
    background-color: hsl(240deg, 80%, 50%);
}

.wrong-pos {
    background-color: hsl(45deg, 80%, 30%);
}

.right-pos {
    background-color: hsl(120deg, 80%, 30%);
}