#wordle-grid {
    --columns: 5;
    --rows: 6;
    --gap: 5px;
    --size: 60px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--columns), var(--size));
    grid-template-rows: repeat(var(--rows), var(--size));
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 700px) {
    #wordle-grid {
        --size: 19vw;
        --gap: 1vw;
    }
}

@media screen and (max-height: 400px) {
    #wordle-grid {
        --size: 15vh;
        --gap: 1vh;
    }
}